
<p>{{ section.settings.first_text }}</p>

<h1> i want to test that these local changes display at Remote Repo as well as at Shopify </h1>

{% schema %}
  {
    "name": "Cart Button",
    "settings": [
      {
        "type": "text",
        "id": "first_text",
        "label": "First Text"
      }
    ],
    "presets": [
      {
        "name": "Cart Button"
      }
    ]
  }
{% endschema %}