
<div class="phero-container">
  <div class="phero-inner-container">
    <div class="phero-img">
     {% if section.settings.p_img != blank %}
        <img src="{{ section.settings.p_img | img_url: 'master' }}" alt="Product Image" />
      {% endif %}

    </div>
    <div class="phero-content">
      <h2>{{ section.settings.p_heading }}</h2>
      <p>{{ section.settings.p_descript }}</p>
    </div>
  </div>
</div>
<style>
  .phero-img img {
    width: 100%;
    height: 100%;
  }
  .phero-content h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 1rem;
  }
   .phero-content p {
     font-size: 16px;
   }
   .phero-content h2,p {
     margin-bottom: 0 0 1rem 0;
   }
</style>
{% schema %}
  {
    "name": "Product Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "p_img",
        "label": "Product Image"
      },
      {
        "type": "text",
        "id": "p_heading",
        "label": "heading"
      },
      {
        "type": "text",
        "id": "p_descript",
        "label": "Description"
      }
      
    ],
    "presets": [
      {
        "name": "Product Hero"
      }
    ]
  }
{% endschema %}