
<div class="phero-container">
  <div class="phero-inner-container">
    <div class="phero-img">
     {% if section.settings.p_img != blank %}
        <img src="{{ section.settings.p_img | img_url: 'master' }}" alt="Product Image" />
      {% endif %}

    </div>
    <div class="phero-content">
      <h2>{{ section.settings.p_heading }}</h2>
      <p>{{ section.settings.p_descript }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "p_img",
        "label": "Product Image"
      },
      {
        "type": "text",
        "id": "p_heading",
        "label": "heading"
      },
      {
        "type": "text",
        "id": "p_descript",
        "label": "Description"
      }
      
    ],
    "presets": [
      {
        "name": "Product Hero"
      }
    ]
  }
{% endschema %}