  p {
    margin: 0px;
    font-size: 14px;
}
  .favourit-product-main-container {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  position: relative;
}

.inner-fp-container {
  display: flex;
  align-items: flex-end;
  padding-top: 50px;
  height: 100%;
}

.fb-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: white;
  overflow-wrap: break-word;
}

a.product-title {
    text-decoration: none;
    color: #000000ab;
    cursor: pointer;
}


.fp-head {
     font-size: 36px;
   font-family: Bricolage Grotesque", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.0em;
    color: white;
    margin-top: 0px;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.0em;
    padding: 0px;
    text-transform: uppercase;
}
@media (max-width: 989px) {
  .fp-head {
    font-size: 24px;
  }
}
.fp-para {
    font-size: 1.5rem;
    margin-bottom: .5em ;
    margin-top: .5em;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.0em;
}

.fp-button {
    background-color: #FFF;
    color: black;
    text-decoration: none;
    margin-top: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 22px;
    border: 1px solid #FFF;
    border-radius: 0px;
    font-family: "Avenir Next", sans-serif;
    font-size: 12px;
    line-height: 1.375;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    transition: .25s ease-out;
    transition-property: color, background, border;
}

.fp-button:hover {
  border: #f2f2f2;
  background-color: #f2f2f2;
  color: #000;
}

.fp-product-container {
   width: 50%;
}
.fp-product-card {
  display: flex;
  height: 148px;
}

.product-fp-image {
  text-align: center;
}

.product-fp-image img {
 /*  width: 100%; */
  height: 100%;
  object-fit: cover;
}

.fp-product-info {
  text-align: left;
  background-color: #f5f2ec;
}

.product-title {
  font-size: calc(16px * 1.0);
  margin-bottom: .5em;
  font-family: "DM Sans", sans-serif; 
  font-weight: 400;
  letter-spacing: 0.0em;
}

.current-price {
  font-size: calc(14px * 1.0);
  margin-bottom: .5em;
    font-family: "Montserrat", sans-serif; 
  font-weight: 400;
  letter-spacing: 0.0em;
}

.original-price {
  font-size: 1rem;
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}

.product-description {
  font-size: 0.9rem;
  color: #555;
}
@media (max-width: 990px) {

  .inner-fp-container {
    display: block; 
  }
  .fp-product-card {
    padding: 0px;
    margin: 0px;
  }
  .fb-content {
    width: 100%;
  }
}
@media (min-width: 990px) {
  .fp-product-card {
    max-width: 500px;
    margin-left: auto;
}
}

@media (min-width:990px) {
  .fp-product-info {
    padding: 24px;
  }
}
/* 
@media (min-width: 448px) {
  .fp-product-info {
    padding-right: 85px;
  }
}  */
@media (min-width: 990px) {
  .fp-product-container {
    padding: 50px;
  }
    }
@media (max-width: 989px) and (min-width: 615px) {
  .favourit-product-main-container {
    height: auto !important;
  }
  .fp-product-container {
    width: 100%;
    padding-top: 10px;
  }
  .fp-product-card {
    height: 125px;
  }
  .fp-product-info {
    width: 880px;
    padding: 16px;
  }
  .fb-content {
   padding: 30px 30px 1rem 30px;
   padding-top: 200px;
  }
/*  .parent-container {
    margin-bottom: 100px;
    margin-top: 50px;
  } */
/*   .product-fp-image img {
    width: auto;
  } */
}
@media (max-width: 749px) {
    .fb-content {
   padding: 30px 16px 1rem 16px;
   padding-top: 200px;
  }
}
@media (max-width: 614px) {
  .favourit-product-main-container {
    height: auto !important;
  }
  .fp-product-container {
    width: 100%;
  }
  .fp-product-info {
    width: 500px;
     padding: 16px;
  }
/*  .product-fp-image img {
    width: auto;
  } */
  .fp-product-card {
    height: 137px;
  }
 /*  .parent-container {
    padding-bottom: 120px;
  } */

}

